.orders.new,
.orders.create {
  table {
    border-collapse: collapse;
  }

  label {
    display: inline-block;
    margin-top: 4px;
  }

  td {
    padding: 10px 5px;
    width: 200px;
  }

  .cookie-donations { background-color: #ffffff; }
  .cookie-savannah_smiles { background-color: #ffffe0; }
  .cookie-trefoils { background-color: #00f7ff; }
  .cookie-do_si_dos { background-color: #ffe200; }
  .cookie-samoas { background-color: #f4b2ff; }
  .cookie-tagalongs { background-color: #ffc095; }
  .cookie-thin_mints { background-color: #b2ffc0; }
  .cookie-smores { background-color: #ffe5ca; }
  .cookie-toffee_tastic { background-color: #b2d6ff; }
}